@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
*{
    margin: 0;
    font-family: Handjet;
    box-sizing: content-box;
}
body{
    background: linear-gradient(214deg, rgba(247,247,247,1) 0%, rgba(205,38,215,1) 39%, rgba(85,1,91,1) 100%);
    height: 100vh;

}
.container{
    max-width: 800px;
    margin: auto;
    padding: 50px;
}

.modal{
    color: #e2e2e2c4;
    max-width: 350px;
    margin:  auto;
    padding: 35px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
}
#exitGame{
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    cursor: pointer;
}
#exitBtn{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .3s ease-in-out;
}
#exitBtn:hover{
    transform: rotate(90deg);
}
#exitBtn::before, #exitBtn::after{
    content: '';
    width: 90%;
    position: absolute;
    left: 50%;
    height: 2px;
    background: #000;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    
}
#exitBtn::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}
h1{
    text-align: center;
}
p{
    font-size: 1.1rem;
    font-weight: 600;
}
#start_game, #guessing{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    height: 100%;
}

button{
    border: 0;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px 30px;
    cursor: pointer;
    background: #33973b;
    color: #e0dfdf;
    display: table;
    margin: 10px auto 0 auto;
    border-radius: 10px;
}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}
#guessing,#set_digit{
    display: none;
}



input{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 3px;
    outline: none;
}
#guessDigit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#guiessBtn{
    position: relative;
    margin: 0 3px;
    background: url(suspicion-right.png) center/cover;
    backdrop-filter: brightness(0.7);
    width: 57px;
    padding: 0;
    border-top:1px solid #000 ;
    border-bottom: 2px solid #000;
    border-radius: 0;
    box-shadow: 1px 0px 20px 5px #0ea59d;
    animation-name: sendBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#guiessBtn::after{
    content: '';
    width: 38px;
    height: 38px;
    position: absolute;
    background: url(click.png) center/cover;
    transition: all .3s ease-in-out;
}
 #guiessBtn:hover::after{
    opacity: 0;
}

@keyframes sendBtn {
    0%{
        background: url(suspicion-left.png) center/cover;
        background-position: 0 -10px;
    }
   
    100%{
        background: url(suspicion-right.png) center/cover;

        background-position: 0 48px;
    }
}

#resetGame{
    display: none;
}